/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* CONTENT CONTAINER */ 

.container {
	width: 875px;
	margin: 0 auto;
	background-color: white;
}


/* HOME MENU */

.mymenu { 
	display: flex;
	padding: 15px;
	margin-left: -40px;
	background: white;
	align-items: center;
	justify-content: space-between;
}
.mymenu nav a{ 
	text-decoration: none;
	padding: 30px;
	color: gray;
}

.mymenu img {
	background:white;
	flex-grow: 2; 

}


/* HEADER */
header {
	display: flex;
	width: 950px;
	background-color: white;
}

header .header-motto {
	font-size: 85px;
	text-align: center;
	background-color: white;
	margin: 45px;
	margin-top: 100px;
}

header .header-image { 
	background-color: white;
	margin: 45px;
	padding: 10px;
}

.header-motto button {
	background-color: white;
	border-color: black;
	width: 175px;
	height: 40px;
	font-size: 16px;
	vertical-align: top;
}


/* MAIN CONTENT */

main h3{ 
	font-size: 23px;
}


/* TOP MAIN */

main {
	display: flex;
	justify-content: flex-start;
	width: 900px;
	background-color: white;
	border-top: 1px solid #000;
}

main .features  { 
	background-color: white;
	width: 450px;
	margin-top: 10px;
}

main .about { 
	background-color: white;
	width: 450px;
	margin-top: 10px;
	margin-left: 25px;
}


main img { 
	margin-top: 10px;
	margin-bottom: 20px;
}


/* FOOTER */
.copyright {
	text-align: center;
}

/* SERVICES PAGE CSS */

/* BOTTOM MAIN */ 

.services h1 {
	font-size: 30px;
}

.bottom-section {
	display: flex;
	justify-content: space-between;
	width: 900px;
	background-color: white;
	border-bottom: 1px solid #000 !important;
}

.box-container { 
	height: 800px; 
	background: white;
	display: flex;
	flex-wrap: wrap;	
	justify-content: space-between;
	align-content: center;
}

.box-container .box1 { 
	background: white; 
	width: 420px;
	border: 1px solid #000 !important;
	background: #E9DEDD;
	margin: 0px 0px 40px 0;
	padding: 20px;
}

.box-container .box2 { 
	background: white; 
	width: 420px;
	border: 1px solid #000 !important;
	background: #E9DEDD;
	margin: 0px 0 40px 0;
	padding: 20px;
}
.box-container .box3 { 
	background: white; 
	width: 420px;
	border: 1px solid #000 !important;
	background: #E9DEDD;
	margin-bottom: 40px;
	padding: 20px;
}

.box-container .box4 { 
	background: white; 
	width: 420px;
	border: 1px solid #000 !important;
	background: #E9DEDD;
	margin-bottom: 40px;
	padding: 20px;
}
.box-container .box5 { 
	background: white; 
	width: 420px;
	border: 1px solid #000 !important;
	background: #E9DEDD;
	margin-bottom: -10px;
	padding: 20px;
}

.box-container .box6 { 
	background: white; 
	width: 420px;
	border: 1px solid #000 !important;
	background: #E9DEDD;
	margin-bottom: -10px;
	padding: 20px;
}

.box-container button { 
	background-color: white; 
	border-color: black;
	width: 175px;
	height: 40px;
	font-size: 16px;
	vertical-align: top;
} 

.bottom-container {  
	background: white;
	display: flex;
	flex-wrap: wrap;	
	justify-content: space-between;
	flex-direction: row;
}

.s-bottom {
	background: white;
	width: 450px;
	margin: 40px 0 0 0;
}

.bottom-container .s-bottom li {
margin-left: 20px;
}

.b-img {
	background: white;
	width: 450px;
	margin: 10px 0 0 -40px;
	padding: 30px;
}

.bottom-container li {
	list-style-type: square;
	line-height: 20px;
}


/* MEDIA QUERIES */

    /* TABLET */
@media (max-width: 800px){
	.mymenu {
		display: flex;
		justify-content: center;
		flex-direction: column-reverse;
	}
	.mymenu img {
		margin-bottom: 30px;
	}

	.header-image { 
		display: none;
	}
	header {
		display: flex;
		justify-content: center;
	}
	.header-motto h1 {
		margin-right: 120px;
	}

	.header-motto button {
		margin-right: 120px;
	 }
}

    /* PHONE */
@media (max-width: 500px){

}


/* PAGE ELEMENTS */

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: 48px;
  border-style: inset;
	border-width: 1px;
	border-color: black;
	width: 100%;
} 

li {
list-style-type: none;
line-height: 20px;
}